.header {
    display: grid;
    position: sticky;
    top: 0;
    line-height: 4rem;
    padding: 1rem 0;
    background-color: black;
    grid-template-columns: repeat(9, 1fr);
    a {
        grid-column: 4/7;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        img {
        }
    }   
    .header-menu {
        grid-column: 9 /10;
        color: $primary-font-color;
        background-color: black;
        font-size: 1.4rem;
    }
}