.header {
  grid-area: header;
  display: grid;
  height: 7.5rem;
  padding: 0 2rem;
  grid-template-columns: auto 6rem;
  grid-template-rows: 10vh;
  grid-template-areas: "logo menu";
  position: sticky;
  top: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;

  .logo {
    grid-area: logo;
    display: block;
    img {
      max-height: 4vh;
      display: block;
    }
  }
  .header-nav-bar {
    grid-area: nav;
    display: none;
    justify-content: left;
    ul {
      width: 100%;
      justify-content: space-evenly;
      .header-nav-items {
        color: orangered;
      }
      .toggle-header-nav-processors,
      .toggle-header-nav-graphics,
      .header-nav-links {
        padding: 2rem;
        cursor: pointer;
      }
      li {
        position: relative;
        margin: auto;
        text-decoration: none;
        color: orangered;
        font-size: 1.5rem;
        .header-nav-list-processors,
        .header-nav-list-graphics {
          display: none;
          padding: 2rem;
          #header-processors-arrow,
          #header-graphics-arrow {
            transform: rotate(0deg);
          }
        }
        i {
          font-size: 1.5rem;
        }
        ul {
          margin: auto;
          position: absolute;
          left: 0;
          background-color: rgba(0, 0, 0, 0.9);
          width: 12rem;
          li {
            margin: auto;
            line-height: 3rem;
            font-size: 1.5rem;
            position: relative;
            a {
              color: $primary-font-color;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .toggle-header-nav {
    grid-area: menu;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    border: 4px solid orangered;
    border-radius: 0.8rem;
    cursor: pointer;
    i {
      color: $ryzen-color;
    }
  }
}

// Media queries

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: 200px auto;
    grid-template-areas: "logo nav";
    .header-nav-bar {
      display: flex;
      .header-nav-bar-items {
        display: flex;
        li {
          .header-nav-list-processors,
          .header-nav-list-graphics {
            display: none;
          }
        }
      }
    }
  }
  .toggle-header-nav {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
}
