.header {
  grid-area: header;
  display: grid;
  height: 10vh;
  grid-template-columns: auto 6rem;
  grid-template-rows: 10vh;
  grid-template-areas: "logo menu";
  position: sticky;
  top: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  border-bottom: 0.5rem solid;
  border-image-source: linear-gradient(90deg, red, orangered);
  border-image-slice: 1;

  .logo {
    grid-area: logo;
    display: block;
    padding: 1.5rem;
    img {
      max-height: 4vh;
      display: block;
    }
  }
  .header-nav-bar {
    grid-area: nav;
    display: none;
    margin-left: 5rem;
    align-items: center;
    height: 100%;
    .header-nav-bar-items {
      height: 10vh;
    }
    ul {
      width: 100%;
      justify-content: space-evenly;
      li {
        position: relative;
        font-size: 2rem;
        i {
          font-size: 2.5rem;
        }
        a {
          display: inline-block;
          height: 100%;
          width: 100%;
        }
        ul {
          margin: auto;
          position: absolute;
          left: 0;
          background-color: rgba(0, 0, 0, 0.9);
          width: 100%;
          :hover {
            background-color: orangered;
          }
          li {
            margin: auto;
            line-height: 3rem;
            position: relative;
            a {
              color: $primary-font-color;
              padding: 1rem;
              font-size: 1.5rem;
              font-weight: 600;
              display: inline-block;
              height: 100%;
              width: calc(100% - 2rem);
            }
          }
        }
      }
    }
  }
}
.toggle-header-nav-button {
  grid-area: menu;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.5rem solid orangered;
  border-radius: 0.8rem;
  cursor: pointer;
  i {
    color: $ryzen-color;
  }
}
.header-nav-list-processors,
.header-nav-list-graphics {
  display: none;
}
#headerProcessorsArrow,
#headerGraphicsArrow {
  transform: rotate(0deg);
}
.header-nav-links {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 10vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  color: orangered;
  :hover {
    background-color: orangered;
  }
}
.header-nav-bar-items{
  text-decoration: none;
  color: orangered;
  :hover {    
  background-color: rgba(255, 69, 0, 0.3);
    color: orangered;
  }
}
.header-nav-items {
  color: orangered;
}


// Media queries

// Styling for mobile display widths
@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: 120px auto;
    grid-template-areas: "logo nav";
    .header-nav-bar {
      display: block;
      .header-nav-bar-items {
        display: flex;
        li {
          .header-nav-list-processors,
          .header-nav-list-graphics {
            display: none;
          }
        }
      }
    }
  }
  .toggle-header-nav-button {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
}
