.nav-bar {
  grid-area: nav-bar;
  display: none;
  font-family: Helvetica;
  float: right;
  position: sticky;
  top: 15vh;
  right: 0;
  z-index: 100;
  width: 40vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 5vh;
  font-size: 3vh;
  text-align: right;
  ul {
    li {
      .nav-list {
        display: none;
      }
      ul {
        li {
          a {
            color: $primary-font-color;
          }
        }
      }
    }
  }
}
.nav-items,
.toggle-nav-processors,
.toggle-nav-graphics {
  margin-right: 5vw;
  color: orangered;
}

@media only screen and (min-width: 770px) {
  .nav-bar {
  }
}
