.nav-bar {
  grid-area: nav-bar;
  display: none;
  font-family: Helvetica;
  float: right;
  position: sticky;
  top: 10vh;
  right: 0;
  z-index: 100;
  width: 60vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 5vh;
  font-size: 3vh;
  text-align: left;
  ul {
    margin-left: 5vw;
    li {
      margin-top: 2rem;
      .nav-list-processors,
      .nav-list-graphics {
        display: none;
        #processors-arrow,
        #graphics-arrow {
          transform: rotate(0deg);
        }
      }
      i {
        font-size: 1.5rem;
      }
      ul {
        margin: auto;
        li {
          margin: auto;
          line-height: 3rem;
          font-size: 1.5rem;
          a {
            color: $primary-font-color;
          }
        }
      }
    }
  }
  .social-media-links {
    position: absolute;
    bottom: 1rem;
    li {
      display: inline-block;
      a {
        padding: 0.6rem;
        i {
          color: orangered;
          font-size: 5vw;
        }
      }
    }
  }
}
.nav-items,
.toggle-nav-processors,
.toggle-nav-graphics {
  color: orangered;
  line-height: 4rem;
  font-size: 3rem;
}

@media only screen and (min-width: 770px) {
}
