.nav-bar {
  grid-area: nav-bar;
  display: none;
  font-family: Helvetica;
  position: sticky;
  top: 10vh;
  right: 0;
  bottom: 0;
  z-index: 100;
  float: right;
  width: 100%;
  height: calc(90vh - 0.7rem);
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  ul {
    li {
      font-size: 3rem;
      padding: 0.4em;
      i {
        font-size: 1.5rem;
      }
      ul {
        margin-top: 2rem;
        li {
          margin: auto;
          line-height: 3rem;
          font-size: 1.5rem;
          a {
            color: $primary-font-color;
          }
        }
      }
    }
  }
  .social-media-links {
    display: flex;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    justify-content: space-evenly;
    li {
      display: inline-block;
      margin: auto;
      a {
        i {
          color: orangered;
          font-size: 2rem;
        }
      }
    }
  }
}
.side-nav-list {
  margin: 3rem;
}
.nav-list-processors,
.nav-list-graphics {
  display: none;
  #processors-arrow,
  #graphics-arrow {
    transform: rotate(0deg);
  }
}
.nav-items,
.toggle-nav-processors,
.toggle-nav-graphics {
  color: orangered;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    display: none;
  }
  aside {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
}
