#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  height: 7vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.9);
}

#headerInsert {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 6rem;
      grid-template-columns: auto 6rem;
  -ms-grid-rows: 7vh;
      grid-template-rows: 7vh;
      grid-template-areas: "logo menu";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5rem solid;
  border-image-source: linear-gradient(90deg, red, orangered);
  border-image-slice: 1;
}

#headerInsert .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
  padding: 1.5rem;
}

#headerInsert .logo img {
  max-height: 4vh;
  display: block;
}

#headerInsert .header-nav-bar {
  grid-area: nav;
  display: none;
  margin-left: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#headerInsert .header-nav-bar .header-nav-bar-items {
  height: 7vh;
}

#headerInsert .header-nav-bar ul {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#headerInsert .header-nav-bar ul li {
  position: relative;
  font-size: 2rem;
}

#headerInsert .header-nav-bar ul li i {
  font-size: 2.5rem;
}

#headerInsert .header-nav-bar ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#headerInsert .header-nav-bar ul li ul {
  margin: auto;
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
}

#headerInsert .header-nav-bar ul li ul :hover {
  background-color: orangered;
  -webkit-transition: ease, 0.5s;
  transition: ease, 0.5s;
}

#headerInsert .header-nav-bar ul li ul li {
  margin: auto;
  line-height: 3rem;
  position: relative;
}

#headerInsert .header-nav-bar ul li ul li a {
  color: #b2bec3;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  height: 100%;
  width: calc(100% - 2rem);
}

.toggle-header-nav-button {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.5rem solid orangered;
  border-radius: 0.8rem;
  cursor: pointer;
}

.toggle-header-nav-button i {
  color: #fa7d32;
}

.header-nav-list-processors,
.header-nav-list-graphics {
  display: none;
}

#headerProcessorsArrow,
#headerGraphicsArrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-nav-links {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 7vh;
  cursor: pointer;
  background-color: black;
  color: orangered;
}

.header-nav-bar-items {
  text-decoration: none;
  color: orangered;
}

.header-nav-bar-items :hover {
  background-color: orangered;
  color: #fff;
  -webkit-transition: ease, 0.5s;
  transition: ease, 0.5s;
}

.header-nav-items {
  color: orangered;
}

@media only screen and (min-width: 768px) {
  #headerInsert {
    -ms-grid-columns: 120px auto;
        grid-template-columns: 120px auto;
        grid-template-areas: "logo nav";
  }
  #headerInsert .header-nav-bar {
    display: block;
  }
  #headerInsert .header-nav-bar .header-nav-bar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #headerInsert .header-nav-bar .header-nav-bar-items li .header-nav-list-processors,
  #headerInsert .header-nav-bar .header-nav-bar-items li .header-nav-list-graphics {
    display: none;
  }
  .toggle-header-nav-button {
    display: none;
  }
}

#sideNav {
  position: absolute;
  width: 100%;
  height: 100%;
}

#sideNavInsert {
  display: none;
  font-family: Helvetica;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: calc(90vh - 0.5rem);
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

#sideNavInsert ul li {
  font-size: 3rem;
  padding: 0.4em;
}

#sideNavInsert ul li i {
  font-size: 1.5rem;
  margin: 1rem;
}

#sideNavInsert ul li ul {
  margin-top: 2rem;
}

#sideNavInsert ul li ul li {
  margin: auto;
  line-height: 3rem;
  font-size: 1.5rem;
}

#sideNavInsert ul li ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #ff3300;
}

#sideNavInsert .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#sideNavInsert .social-media-links li {
  display: inline-block;
  margin: auto;
}

#sideNavInsert .social-media-links li a i {
  color: orangered;
  font-size: 2rem;
}

.side-nav-list {
  margin: 3rem;
  padding-top: 3rem;
}

.nav-list-processors,
.nav-list-graphics {
  display: none;
}

.nav-list-processors #processors-arrow,
.nav-list-processors #graphics-arrow,
.nav-list-graphics #processors-arrow,
.nav-list-graphics #graphics-arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.side-nav-links,
.toggle-nav-processors,
.toggle-nav-graphics,
.side-nav-items {
  color: orangered;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #sideNav {
    display: none;
  }
  #sideNav #sideNavInsert {
    display: none;
  }
}

#contentInsert {
  display: block;
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 10vh);
  position: relative;
}

#contentInsert #productOverview {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "description" "subheader";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
  text-align: center;
}

#contentInsert #productOverview img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  display: block;
  width: 100%;
}

#contentInsert #productOverview h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 2.3rem;
  font-weight: 700;
}

#contentInsert #productOverview h4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: subheader;
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
}

#contentInsert #productOverview p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  text-align: center;
  position: relative;
}

#features article {
  width: 100%;
  margin: 4rem auto;
}

#features article h3 {
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}

#features article h5 {
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.8rem;
}

#features article p {
  font-size: 1rem;
  line-height: 1.5rem;
}

#features img {
  display: block;
  width: 100%;
}

table {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

table tbody tr th {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  padding: 1rem;
}

table tbody tr td {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.specifications {
  font-size: 2rem;
  width: 100%;
}

.specifications h3 {
  width: calc(100% - 2rem);
  padding: 0.7em 1rem;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: orangered;
}

.model-select {
  padding-bottom: 0.7em;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.model-select-button {
  font-size: 1.5rem;
  padding: 0.8em;
  color: orangered;
  border: #000000;
  border-radius: 8px;
  background: linear-gradient(145deg, #15191a, #222729);
  -webkit-box-shadow: 30px 30px 59px #15191a, -30px -30px 59px #222729;
          box-shadow: 30px 30px 59px #15191a, -30px -30px 59px #222729;
}

@media only screen and (min-width: 768px) {
  .overview {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "image description";
  }
  .features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "feature-01-description feature-01-image" "feature-02-image feature-02-description" "feature-03-description feature-03-image";
  }
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: none;
}

html {
  font-size: 62.5%;
  background-color: #1b1f20;
  color: #b2bec3;
  font-family: Arial, Helvetica, sans-serif;
}

.title-name {
  text-transform: uppercase;
}

body {
  width: 100%;
}

#container {
  display: -ms-grid;
  display: grid;
  width: auto;
  height: auto;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 7vh auto;
      grid-template-rows: 7vh auto;
  position: relative;
  z-index: auto;
}

#main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  width: 100%;
  max-width: 1600px;
  min-height: calc(100vh - 10vh);
  margin: auto;
  position: relative;
  background-image: url(/img/background-blow-out.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */