@import "./variables";
@import "./_header";
@import "./nav-bar";
@import "./content";
@import "./footer";
html {
  font-size: 62.5%;
  background-color: $primary-background-color;
  color: $primary-font-color;
  font-family: Arial, Helvetica, sans-serif;
  // overflow-x: hidden;
}
.title-name {
  text-transform: uppercase;
}
body {
  width: 100%;
}
#container {
  display: grid;
  width: auto;
  height: auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10vh auto;
  position: relative;
  z-index: auto;
}
#main {
  grid-area: main;
  width: 100%;
  max-width: 1600px;
  min-height: calc(100vh - 10vh);
  margin: auto;
  position: relative;
  background-image: url(/img/background-blow-out.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1920px) {
}
