.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  height: 7.5rem;
  padding: 0 2rem;
      grid-template-columns: auto 6rem;
      grid-template-rows: 10vh;
      grid-template-areas: "logo menu";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
}

.header .logo img {
  max-height: 4vh;
  display: block;
}

.header .header-nav-bar {
  grid-area: nav;
  display: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header .header-nav-bar ul {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header-nav-bar ul .header-nav-items {
  color: orangered;
}

.header .header-nav-bar ul .toggle-header-nav-processors,
.header .header-nav-bar ul .toggle-header-nav-graphics,
.header .header-nav-bar ul .header-nav-links {
  padding: 2rem;
  cursor: pointer;
}

.header .header-nav-bar ul li {
  position: relative;
  margin: auto;
  text-decoration: none;
  color: orangered;
  font-size: 1.5rem;
}

.header .header-nav-bar ul li .header-nav-list-processors,
.header .header-nav-bar ul li .header-nav-list-graphics {
  display: none;
  padding: 2rem;
}

.header .header-nav-bar ul li .header-nav-list-processors #header-processors-arrow,
.header .header-nav-bar ul li .header-nav-list-processors #header-graphics-arrow,
.header .header-nav-bar ul li .header-nav-list-graphics #header-processors-arrow,
.header .header-nav-bar ul li .header-nav-list-graphics #header-graphics-arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .header-nav-bar ul li i {
  font-size: 1.5rem;
}

.header .header-nav-bar ul li ul {
  margin: auto;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 12rem;
}

.header .header-nav-bar ul li ul li {
  margin: auto;
  line-height: 3rem;
  font-size: 1.5rem;
  position: relative;
}

.header .header-nav-bar ul li ul li a {
  color: #b2bec3;
  font-size: 1rem;
}

.header .toggle-header-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 4px solid orangered;
  border-radius: 0.8rem;
  cursor: pointer;
}

.header .toggle-header-nav i {
  color: #fa7d32;
}

@media only screen and (min-width: 768px) {
  .header {
    -ms-grid-columns: 200px auto;
        grid-template-columns: 200px auto;
        grid-template-areas: "logo nav";
  }
  .header .header-nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-nav-bar .header-nav-bar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-nav-bar .header-nav-bar-items li .header-nav-list-processors,
  .header .header-nav-bar .header-nav-bar-items li .header-nav-list-graphics {
    display: none;
  }
  .toggle-header-nav {
    display: none;
  }
}

.nav-bar {
  grid-area: nav-bar;
  display: none;
  font-family: Helvetica;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  right: 0;
  z-index: 100;
  width: 60vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 5vh;
  font-size: 3vh;
  text-align: left;
}

.nav-bar ul {
  margin-left: 5vw;
}

.nav-bar ul li {
  margin-top: 2rem;
}

.nav-bar ul li .nav-list-processors,
.nav-bar ul li .nav-list-graphics {
  display: none;
}

.nav-bar ul li .nav-list-processors #processors-arrow,
.nav-bar ul li .nav-list-processors #graphics-arrow,
.nav-bar ul li .nav-list-graphics #processors-arrow,
.nav-bar ul li .nav-list-graphics #graphics-arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nav-bar ul li i {
  font-size: 1.5rem;
}

.nav-bar ul li ul {
  margin: auto;
}

.nav-bar ul li ul li {
  margin: auto;
  line-height: 3rem;
  font-size: 1.5rem;
}

.nav-bar ul li ul li a {
  color: #b2bec3;
}

.nav-bar .social-media-links {
  position: absolute;
  bottom: 1rem;
}

.nav-bar .social-media-links li {
  display: inline-block;
}

.nav-bar .social-media-links li a {
  padding: 0.6rem;
}

.nav-bar .social-media-links li a i {
  color: orangered;
  font-size: 5vw;
}

.nav-items,
.toggle-nav-processors,
.toggle-nav-graphics {
  color: orangered;
  line-height: 4rem;
  font-size: 3rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    display: none;
  }
}

.content {
  display: block;
  float: left;
  z-index: 90;
  position: absolute;
}

.content h1 {
  font-size: 5rem;
  color: white;
  height: 8rem;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: none;
}

html {
  font-size: 62.5%;
  background-color: #1b1f20;
  color: #b2bec3;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.title-name {
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: -ms-grid;
  display: grid;
  width: auto;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
}

.container .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: block;
  height: 4000px;
}
/*# sourceMappingURL=style.css.map */