/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- begininig of styling --- */

* {
	text-decoration: none;
	
}

body {
	font-family: arial;
	background-color: #111;
}

.wrapper {
	margin: 0 auto;
}
/*-- Top Section Styling --*/

body .top-bar {
	display: block;
	width: 100%;
	height: 100px;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
}
header {
	display: block;
	height: 50px;
	width: 100%;
	position: fixed;
}
header h2 {
	text-align: center;
	line-height: 50px;
	font-weight: 600;
	font-size: 30px;
}
header h2 a {
	color: #fff;
}
/*-- Navigation Panel Styling --*/

nav {
	display: block;
	margin-top: 50px;
	height: 50px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: fixed;
}

nav ul {
	margin: 15px auto;
	list-style: none;
	width: -moz-fit-content;
}

nav ul li {
	padding: 0 10px;
	display: inline-block;
	margin: 0 auto;
	font-size: 16px;
	line-height: 20px;
}
nav ul li a {
	text-transform: uppercase;
	color: #f2f2f2;
}
nav ul li a:hover {
	opacity: 1;
	text-shadow: 0 0 50px goldenrod;
	color: gold;
	
}
.nav-cases {
	vertical-align: middle;
	display: none;
	margin: 40px 40px 40px auto;
	text-align: right;
		 
}
.nav-cases a {
	text-decoration: none;
	color: #fff;
	text-align: right;
	font-size: 16px;
	line-height: 20px;
	border: 2px solid #f2f2f2;
	padding: 5px;
}

@media only screen and (min-width: 1010px) {
	header {
		height: 100px;
		width: 300px;
		float: left;
	}
	header h2 {
		margin: 25px 0 25px 0;
		line-height: 50px;
		border-right: #f2f2f2 solid 4px;
		vertical-align: middle;
	}
	nav {
		margin-top: inherit;
		margin-left: 300px;
		height: 100px;
		width: 400px;
		float: left;
	}

	nav ul {
		margin: 40px auto;
		width: 400px;

	}
	nav ul li a:hover {
		opacity: 1;
		text-shadow: 0 0 50px goldenrod;
		color: gold;
		-moz-transition: all 0.3s ease-in-out;
	}
	.nav-cases {
		display: block;
		float: right;
		width: calc(100% - 700px);
	}
	.nav-cases a:hover {
		background-color: rgba(218,165,32, 0.6);
		color: #111;
		-moz-transition: all 0.3s ease-in-out;
	}
}
/*-- Main section styling --*/


main {
	display: block;
	overflow: hidden;
}
.main-banner {
	margin-top: 100px;
	width: 100%;
	height: 500px;
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}
.banner-text {
	margin: 0 auto;
	display: table-cell;
	color: #f2f2f2;
	text-align: center;
	text-shadow: 2px 2px 3px #A0ABBA;
	vertical-align: middle;
}

.main-banner h2 {
	padding: 20px;
	display: block;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}

.main-banner h1 {
	font-size: 14px;
	line-height: 30px;
	display: block;
	font-size: 20px;
	text-align: center;
}

.boxlinks {
	font-size: 0;
	width: 100%;
	display: block;
	float: left;
}
.boxlinks a {
	display: block;
	height: 78px;
	margin: 5px;
	line-height: 78px;
	font-size: 20px;
	text-align: center;
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
}
.boxlinks a:hover {
	filter: drop-shadow(0 0 5px blueviolet);
	color: blueviolet;
	background-color: #444;
    -moz-transition: all 0.3s ease-in-out;
}
.cases-about {
	float: left;
	width: 100%;
	display: table;
	height: 243px;
	margin: 5px 10px;
	font-size: 20px;
	text-align: center;
	background-color: #333;
	position: relative;
	vertical-align: middle;
}
.about-text {
	display: table-cell;
	vertical-align: middle;
}
.cases-about a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 16px;
	line-height: 35px;
}
.cases-about a:hover {
	filter: drop-shadow(0 0 5px blueviolet);
	color: blueviolet;
	-moz-transition: all 0.3s ease-in-out;
}
.cases-about h3 {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
}

@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 1000px;
	}
	.boxlinks {
		margin: 5px;
	}
	.boxlinks a {
		display: inline-block;
		height: 240px;
		line-height: 240px;
	}
	.box-square {
		width: 240px;
	}
	.box-rect {
		width: 495px;
	}
}
body main h2 {
	font-size: 30px;
	font-weight: 500;
}
.cases-header {
	height: 40px;
	width: 100%;
	margin: 120px auto 20px auto;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: #fff solid 3px;
}

/*-- Footer section styling --*/

footer {
	display: inline-block;
	width: 100%;
	background-color: #282C40;
}

footer a {
	color: #A0ABBA;
}
.footer-main {
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 35px;

}

.footer-main a:hover {
	filter: drop-shadow(0 0 5px blueviolet);
	color: blueviolet;
}
.footer-secondary {
	float: left;
	text-transform: capitalize;
	color: #A0ABBA;
	line-height: 35px;
	font-size: 20px;
	display: none;
}
.latest {
	color: #a68cbe;
}
.footer-secondary a:hover {
	filter: drop-shadow(0 0 5px blueviolet);
	color: blueviolet;
}
.footer-icons {
	display: block;
	float: right;
	width: 50px;
}
.footer-icons img {
	padding: 5px;
	width: 50px;
	filter: invert(1);
}
.footer-icons img:hover {
	filter: drop-shadow(0 0 10px #fff);
}
@media only screen and (min-width: 1000px) {
	footer {
		width: 100%;
		margin: 5px;
	}
	.footer-secondary {
		display: block;
	}
}