#header {
  grid-area: header;
  height: 7vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 0.5rem solid;
  border-image-source: linear-gradient(90deg, red, orangered);
  border-image-slice: 1;
}

#headerInsert {
  display: grid;
  grid-template-columns: auto 6rem;
  grid-template-rows: 7vh;
  grid-template-areas: "logo menu";
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
#headerInsert .logo {
  grid-area: logo;
  display: block;
  padding: 1.5rem;
}
#headerInsert .logo img {
  max-height: 4vh;
  display: block;
}
#headerInsert .header-nav-bar {
  grid-area: nav;
  display: none;
  margin-left: 5rem;
  align-items: center;
  height: 100%;
}
#headerInsert .header-nav-bar .header-nav-bar-items {
  height: 7vh;
}
#headerInsert .header-nav-bar ul {
  width: 100%;
  justify-content: space-evenly;
}
#headerInsert .header-nav-bar ul li {
  position: relative;
  font-size: 2rem;
}
#headerInsert .header-nav-bar ul li i {
  font-size: 2.5rem;
}
#headerInsert .header-nav-bar ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#headerInsert .header-nav-bar ul li ul {
  margin: auto;
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
}
#headerInsert .header-nav-bar ul li ul :hover {
  background-color: orangered;
  transition: ease, 0.5s;
}
#headerInsert .header-nav-bar ul li ul li {
  margin: auto;
  line-height: 3rem;
  position: relative;
}
#headerInsert .header-nav-bar ul li ul li a {
  color: #b2bec3;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  height: 100%;
  width: calc(100% - 2rem);
}

.toggle-header-nav-button {
  grid-area: menu;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.5rem solid orangered;
  border-radius: 0.8rem;
  cursor: pointer;
}
.toggle-header-nav-button i {
  color: #fa7d32;
}

.header-nav-list-processors,
.header-nav-list-graphics {
  display: none;
}

#headerProcessorsArrow,
#headerGraphicsArrow {
  transform: rotate(0deg);
}

.header-nav-links {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 7vh;
  cursor: pointer;
  background-color: black;
  color: orangered;
}

.header-nav-bar-items {
  text-decoration: none;
}
.header-nav-bar-items :hover {
  background-color: orangered;
  color: #fff;
  transition: ease, 0.5s;
}

.header-nav-items {
  color: orangered;
}

@media only screen and (min-width: 768px) {
  #headerInsert {
    grid-template-columns: 120px auto;
    grid-template-areas: "logo nav";
  }
  #headerInsert .header-nav-bar {
    display: block;
  }
  #headerInsert .header-nav-bar .header-nav-bar-items {
    display: flex;
  }
  #headerInsert .header-nav-bar .header-nav-bar-items li .header-nav-list-processors,
#headerInsert .header-nav-bar .header-nav-bar-items li .header-nav-list-graphics {
    display: none;
  }

  .toggle-header-nav-button {
    display: none;
  }
}
#sideNav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#sideNavInsert {
  display: none;
  font-family: Helvetica;
  z-index: 100;
  width: 100%;
  top: calc(7vh + 0.5rem);
  position: sticky;
  height: calc(93vh - 0.5rem);
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
}
#sideNavInsert ul li {
  font-size: 3rem;
}
#sideNavInsert ul li i {
  font-size: 1.5rem;
  margin: 1rem;
}
#sideNavInsert ul li ul {
  margin-top: 2rem;
}
#sideNavInsert ul li ul li {
  margin: auto;
  line-height: 3rem;
  font-size: 1.5rem;
}
#sideNavInsert ul li ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0.4em;
  color: #ff3300;
}
#sideNavInsert .social-media-links {
  display: flex;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  justify-content: space-evenly;
}
#sideNavInsert .social-media-links li {
  display: inline-block;
  margin: auto;
}
#sideNavInsert .social-media-links li a i {
  color: orangered;
  font-size: 2rem;
}

.side-nav-list {
  margin: 0 3rem;
  padding-top: 3rem;
}

.nav-list-processors,
.nav-list-graphics {
  display: none;
}
.nav-list-processors #processors-arrow,
.nav-list-processors #graphics-arrow,
.nav-list-graphics #processors-arrow,
.nav-list-graphics #graphics-arrow {
  transform: rotate(0deg);
}

.side-nav-links,
.toggle-nav-processors,
.toggle-nav-graphics,
.side-nav-items {
  color: orangered;
  cursor: pointer;
  padding: 0.4em 0;
}

@media only screen and (min-width: 768px) {
  #sideNav {
    display: none;
  }
  #sideNav #sideNavInsert {
    display: none;
  }
}
#contentInsert {
  display: block;
  margin: 2rem;
  width: calc(100% - 4rem);
  position: relative;
}
#contentInsert #productOverview {
  display: grid;
  grid-template-areas: "image" "header" "subheader" "description";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2rem 1.5rem rgba(255, 255, 255, 0.1);
  line-height: 1.2;
}
#contentInsert #productOverview img {
  grid-area: image;
  display: block;
  width: 100%;
  margin: 0 auto;
}
#contentInsert #productOverview h2 {
  grid-area: header;
  display: block;
  width: 100%;
  margin: 0.5em auto;
  align-self: flex-end;
  color: orangered;
  font-size: 2rem;
  font-weight: 700;
}
#contentInsert #productOverview h4 {
  grid-area: subheader;
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.7rem;
  font-weight: 600;
}
#contentInsert #productOverview p {
  grid-area: description;
  font-size: 1.4rem;
}

#errorPage {
  display: block;
  margin: 0 2rem;
  padding-top: 7vh;
  height: calc(100vh - 14vh);
  width: calc(100% - 4rem);
  position: relative;
  text-align: center;
}
#errorPage #errorHeader {
  color: orangered;
  font-size: 8vw;
}
#errorPage #errorSubHeader {
  margin: 2vw auto;
  font-size: 4vw;
}
#errorPage #errorParagraph {
  font-size: 3vw;
}
#errorPage #errorParagraph a {
  text-decoration: none;
  color: orangered;
  cursor: pointer;
}

#features {
  text-align: center;
  position: relative;
  overflow: auto;
}
#features .featuresItem {
  display: grid;
  grid-template-areas: "image" "header" "subheader" "description";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 5rem;
  margin-bottom: 3rem;
}
#features article {
  width: 100%;
  line-height: 1.2;
}
#features article h3 {
  grid-area: header;
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
}
#features article h5 {
  grid-area: subheader;
  display: block;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
}
#features article p {
  grid-area: description;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
}
#features article .home-buttons {
  width: max-content;
  border: 0.2em solid orangered;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.3em;
}
#features article .home-buttons:hover {
  border: 0.2em solid white;
  background-color: white;
}
#features article .home-buttons:hover a {
  color: black;
}
#features article .home-buttons a {
  color: orangered;
}
#features video {
  grid-area: image;
  width: 100%;
}
#features img {
  grid-area: image;
  display: block;
  width: 100%;
}

table {
  justify-content: left;
  width: 100%;
}
table tbody {
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.3);
}
table tbody tr th {
  text-align: left;
  padding: 1rem;
}
table tbody tr td {
  padding: 1rem;
}

#specifications {
  font-size: 2rem;
  margin-top: 1.5em;
  width: 100%;
}
#specifications h3 {
  width: calc(100% - 2rem);
  padding: 0.7em 1rem;
  font-size: 2.5rem;
  color: orangered;
  border-bottom: 2px solid orangered;
}

#modelSelect {
  margin: 2rem auto;
  align-items: center;
  font-size: 2.5rem;
}

.model-button {
  margin: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8em;
  color: orangered;
  border: #000000;
  border-radius: 8px;
  background: linear-gradient(145deg, #15191a, #222729);
}
.model-button:hover {
  color: white;
  border: orangered;
  border-radius: 8px;
  background: orangered;
}

@media only screen and (min-width: 768px) {
  #contentInsert #productOverview {
    grid-template-areas: "image header" "image subheader" "image description";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 6rem auto;
    margin-bottom: 10rem;
  }
  #contentInsert #productOverview h2 {
    font-size: 2.5rem;
  }
  #contentInsert #productOverview h4 {
    font-size: 2.2rem;
  }
  #contentInsert #productOverview p {
    font-size: 1.9rem;
  }
  #contentInsert #features .featuresItem {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 6rem auto;
  }
  #contentInsert #features .featuresItem:nth-child(odd) {
    grid-template-areas: "header image" "subheader image" "description image";
  }
  #contentInsert #features .featuresItem:nth-child(even) {
    grid-template-areas: "image header" "image subheader" "image description";
  }
  #contentInsert #features h3 {
    align-self: flex-end;
    font-size: 2.2rem;
  }
  #contentInsert #features h5 {
    font-size: 1.8rem;
  }
  #contentInsert #features p {
    align-self: flex-start;
    font-size: 1.5rem;
  }
}
.footer {
  grid-area: footer;
  display: none;
}

#contactCover {
  display: none;
  position: absolute;
  width: 100%;
  height: 470px;
  background: rgba(0, 0, 0, 0.8);
}
#contactCover #contactPopup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "message message message" ". button .";
  padding: 10px 5px;
  margin: 200px auto;
  height: 70px;
  background: #1e1e1e;
  font-size: 2rem;
  line-height: 1.2em;
  border: 0.1em solid orangered;
  border-radius: 0.4em;
}
#contactCover #contactPopup #contactPopupMessage {
  grid-area: message;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  overflow-y: scroll;
}
#contactCover #contactPopup #contactMessageButton {
  grid-area: button;
  border: 0.2em solid gray;
  border-radius: inherit;
  background: inherit;
  color: white;
}

#contactDescription {
  margin-bottom: 1em;
  font-size: 2rem;
  line-height: 1.2em;
}
#contactDescription h2 {
  font-size: inherit;
  line-height: inherit;
}
#contactDescription p {
  font-size: 1.6rem;
  line-height: inherit;
}
#contactDescription p a {
  text-decoration: none;
  cursor: pointer;
  color: orangered;
}

#contactFormSection form {
  font-size: 1.8rem;
  line-height: 1.5em;
}
#contactFormSection form label {
  display: inline-block;
  color: orangered;
  padding-top: 0.3em;
  width: 100%;
  line-height: inherit;
}
#contactFormSection form input {
  display: inline-block;
  background: transparent;
  border: 0.1em solid #1e1e1e;
  border-radius: 0.4em;
  color: gray;
  font-size: 1.6rem;
  line-height: inherit;
  width: 98%;
}
#contactFormSection form input:focus {
  border: 0.1em solid indianred;
  outline: 0;
  color: white;
}
#contactFormSection form textarea {
  background: transparent;
  border: 0.1em solid #1e1e1e;
  border-radius: 0.4em;
  color: gray;
  font-size: 1.6rem;
  line-height: inherit;
  width: 98%;
}
#contactFormSection form textarea:focus {
  border: 0.1em solid indianred;
  outline: 0;
  color: white;
}
#contactFormSection form #contactSubmit {
  width: 30%;
  margin: 0.5em 35%;
  color: green;
  border: 0.3em solid green;
  border-radius: 0.4em;
}

html {
  font-size: 62.5%;
  background-color: #0a0a0a;
  color: #b2bec3;
  font-family: Arial, Helvetica, sans-serif;
}

.title-name {
  text-transform: uppercase;
}

body {
  width: auto;
  height: auto;
}

#container {
  display: grid;
  width: auto;
  grid-template-areas: "header header header" "main main main";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 7vh auto;
  z-index: auto;
}

#main {
  grid-area: main;
  width: 100%;
  min-height: calc(100vh - 7vh);
  max-width: 1600px;
  margin: auto;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
