#contentInsert {
  display: block;
  margin: 2rem;
  width: calc(100% - 4rem);
  position: relative;
  #productOverview {
    display: grid;
    grid-template-areas:
      "image"
      "description"
      "subheader";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    text-align: center;
    img {
      grid-area: image;
      display: block;
      width: 100%;
    }
    h2 {
      grid-area: description;
      display: block;
      width: 100%;
      margin: 1rem auto;
      font-size: 3rem;
      font-weight: 700;
    }
    h4 {
      grid-area: subheader;
      display: block;
      width: 100%;
      margin: 1rem auto;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 2.8rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
}

#errorPage {
  display: block;
  margin: 0 2rem;
  padding-top: 7vh;
  height: calc(100vh - 14vh);
  width: calc(100% - 4rem);
  position: relative;
  text-align: center;
  #errorHeader {
    color: orangered;
    font-size: 8vw;
  }
  #errorSubHeader {
    margin: 2vw auto;
    font-size: 4vw;
  }
  #errorParagraph {
    font-size: 3vw;

    a {
      text-decoration: none;
      color: orangered;
      cursor: pointer;
    }
  }
}
// Features styling
#features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  position: relative;
  article {
    width: 100%;
    margin: 4rem auto;
    h3 {
      display: block;
      width: 100%;
      margin: 1rem auto;
      font-size: 3rem;
      font-weight: 700;
      line-height: 4rem;
    }
    h5 {
      display: block;
      width: 100%;
      margin: 1rem auto;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  video {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}
// Specifications chart styling
table {
  margin-top: 1rem;
  justify-content: left;
  width: 100%;
  tbody {
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    tr {
      th {
        text-align: left;
        padding: 1rem;
      }
      td {
        padding: 1rem;
      }
    }
  }
}
#specifications {
  font-size: 2rem;
  width: 100%;
  h3 {
    width: calc(100% - 2rem);
    padding: 0.7em 1rem;
    font-size: 2.5rem;
    color: orangered;
  }
}
#model-select {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding-bottom: 0.7em;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
}
.model-button {
  margin: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8em;
  color: orangered;
  border: #000000;
  border-radius: 8px;
  background: linear-gradient(145deg, #15191a, #222729);
  // box-shadow: 30px 30px 59px #15191a, -30px -30px 59px #222729;
}

@media only screen and (min-width: 768px) {
  .overview {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image description";
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "feature-01-description feature-01-image"
      "feature-02-image feature-02-description"
      "feature-03-description feature-03-image";
  }
}
